@media (max-width: 767px) {
  .sn-why {
    gap: 8px !important ;
    padding: 18px 0 !important;
  }

  .dx-grid-4 {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .tp-contact-us-ptb {
    padding-top: 40px !important;
  }
}
