.card-swap-container {
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(5%, 20%);
    transform-origin: bottom right;

    perspective: 900px;
    overflow: visible;
}

.card {
    position: absolute;

    top: 30%;
    left: 50%;

    border-radius: 15px;
    overflow: hidden;

    background: #fff;

    transform-style: preserve-3d;
    backface-visibility: hidden;

    will-change: transform;

    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}

@media (max-width:768px) {

    .card-swap-container {

        transform: scale(.75) translate(25%, 25%);

    }

}

@media (max-width:480px) {

    .card-swap-container {

        transform: scale(.55) translate(25%, 25%);

    }

}